.col-sm-2{
    background-color: cornsilk;
    border: 1px solid;
}

.col-md{
    background-color: darkkhaki;
    border: 1px solid;
}

td {
    text-align: center;
}

th{
    text-align: center;
}

.navbar{
    background-color: rgb(218, 175, 144);

}